@model eMusicStudio.Web.ViewModels.Admin.CreateUserViewModel
@{
    ViewData["Title"] = "Dodaj korisnika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <form asp-action="KreirajKorisnika" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Ime"></label>
                        <input asp-for="Ime" class="form-control" id="exampleInputEmail1" placeholder="Unesite ime">
                        <span asp-validation-for="@Model.Ime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Prezime"></label>
                        <input asp-for="Prezime" class="form-control" id="exampleInputEmail1" placeholder="Unesite prezime">
                        <span asp-validation-for="@Model.Prezime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Unesite email">
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefon"></label>
                        <input asp-for="Telefon" type="tel" class="form-control" id="exampleInputEmail1" placeholder="Unesite telefon">
                        <span asp-validation-for="@Model.Telefon" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KorisnickoIme"></label>
                        <input asp-for="KorisnickoIme" class="form-control" id="exampleInputEmail1" placeholder="Unesite korisničko ime">
                        <span asp-validation-for="@Model.KorisnickoIme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Uloge"></label>
                        <select asp-for="@Model.UlogaId" asp-items="@Model.Uloge" class="form-control"></select>
                        <span asp-validation-for="@Model.UlogaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control" id="exampleInputEmail1" placeholder="Unesite lozinku">
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordConfirmation"></label>
                        <input asp-for="PasswordConfirmation" type="password" class="form-control" id="exampleInputEmail1" placeholder="Ponovo unesite lozinku">
                        <span asp-validation-for="@Model.PasswordConfirmation" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="ListaKorisnika" class="btn btn-default">Nazad</a>
                    <button type="submit" class="btn btn-primary float-right">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
    </div>